.open-sans-normar {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Header */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* shared style */
.secoundary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  padding: 18px 35px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

/* nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
}

.banner-gretings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
}

.banner-description {
  font-size: 18px;
}
.banner-profile-picture {
  width: 580px;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}

.item-description {
  font-weight: bold;
}

.whatido{
  margin-top:130px ;
}

.whatido h3{
  font-size: 35px;
  font-weight: bold;
}
.whatido-description{
  text-align: center;
  padding: 0px 130px;
}

.card-container{
display: flex;
gap: 24px;
margin-top: 50px;
justify-content: space-around;
}
.card{
  border-radius: 5px;

  padding: 20px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card h4{
   font-size: 20px;
   font-weight: bold;
}
.card p{
  line-height: 28px;
}

.summary-section{
  margin-top: 130px;
 
}

.summary-section h3{
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 113px 0;
  text-align: center;
  color: #181818;
}
.education-container{
  display: flex;
  gap: 71px;
  margin-bottom: 30px;
}
.education h4{
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 30px 0;
  color: #474747;
  
}
.education h5{
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin: 0;
}
.education h6{
  font-weight: 500;
  font-size: 20px;
  color: #757575;
  margin: 10px 0px 20px 0px;
}
hr{
  color: #D1D1D1;
}

.btn-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
footer{
  margin-top: 113px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  gap: 170px;
}
.footer-container h3{
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
}
.footer-container img{
  padding: 10px;
}

.main-footer{
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
}

input{
  margin-top: 12px;
  margin-bottom: 12px;
  width: 461px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
}
textarea{
  margin-top: 12px;
  margin-bottom: 12px;
  width: 461px;
  border: none;
  padding: 18px 0px 18px 30px;
}

.submit-btn{
  width: 150px;
}
